<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.4.0" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="4.5.0" targetFramework="net48" />
  <package id="HelixToolkit" version="2.23.0" targetFramework="net48" />
  <package id="HelixToolkit.Wpf" version="2.23.0" targetFramework="net45" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="PropertyTools" version="3.1.0" targetFramework="net48" />
  <package id="PropertyTools.Wpf" version="3.1.0" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="20.4.0.44" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="20.4.0.44" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Shim" version="1.0.0.1" targetFramework="net48" />
  <package id="Unity3D.UnityEngine" version="2018.3.5.1" targetFramework="net48" />
</packages>